<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 {load href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" /}
    <title>{block name="title"}标题{/block}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            {block name="navbar"}Navbar{/block}
        </div>
    </nav>
    <div class="container">
        {block name="main"}主内容{/block}
    </div>
    <footer class="blog-footer">
        {block name="footer"}底部{/block}
    </footer>
{load href="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" /}
</body>
</html>