{extend name="../template/public/base.html" /}
{block name="title"}留言列表{/block}
{block name="main"}
    <h1>留言板</h1>
    <div>
        <empty name="Think.session.user.username">
            <a href="{:url('home/user/login')}">登录</a>
            <a href="{:url('home/user/register')}">注册</a>
            <else/> 欢迎您！ {$Think.session.user.username}
            <a href="__URL__/post">
                <strong>发表留言</strong>
            </a>
            <a href="{:url('home/user/logout')}">退出登录</a>
        </empty>
    </div>

    {volist name="list" id="item"}
        <div>
            {$item.content}
            <br/>
            <div>留言者：{$item.user_name} </div>
            <br>
            留言时间：{$item.created_at|date='Y-m-d H:i:s'}
            {eq name="$Think.session.user.userId" value="$item.user_id" }
                <a href={:url('delete?id='.$item['message_id'])} onclick="return confirm('确定删除此条留言？')">删除</a>
            {/eq}
        </div>
    {/volist}
    <p>
    {$list->render()|raw}
{/block}